/* 字形設定要放在最前頭 */
/* src代表來源 url代表路徑 */
@font-face{
    font-family: Ngaan;
    src: url(./font/I.Ngaan.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

/* 導覽列 */
nav{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 25px;
    position: fixed;
    top:0px;
    width: 100%;
    background-color:rgba(255,255,255,0.5);
    color:black;


 
    
}

#logo span{
    font-family: Ngaan;
    font-size: 42px;
    font-weight: 900;
    padding:10px 50px;
}

#nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    }

#nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

#nav a:hover{
    color:green;
    font-size: 20px;
}

#banner{
    background-image: url(./img/noodles.jpg);
    background-size: cover;
    background-position: center;
    /* 100vh 跟螢幕一樣高 100% v 螢幕 h 高度 */
    height: 100vh;


}

